<!-- Sidebar -->
    <aside id="sidebar" class="sidebar fixed left-0 top-16 bottom-0 w-60 bg-white shadow-lg z-40 overflow-y-auto transition-all duration-300">
        <div class="py-4">
            <ul>
                <li>
                    <a href="/dashboard/admin" class="sidebar-item  flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-dashboard-line"></i>
                        </div>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/admin/subjects" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-book-open-line"></i>
                        </div>
                        <span>All Subjects</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/admin/users" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-file-list-3-line"></i>
                        </div>
                        <span>All Users</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/admin/add-student" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-file-list-3-line"></i>
                        </div>
                        <span>Add Students</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/admin/users/add" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-file-list-3-line"></i>
                        </div>
                        <span>Add Users</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/admin/students" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-file-list-3-line"></i>
                        </div>
                        <span>All Students</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/admin/mark-attendance" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <span>Mark Teacher Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/admin/attendance-reports" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <span>Teacher Attendance reports</span>
                    </a>
                </li>
                <li>
                    <a href="/attendance/mark" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100 ">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <span>Mark Student Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/grades/entry" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-bar-chart-line"></i>
                        </div>
                        <span>Student Grade enter</span>
                    </a>
                </li>
                <li>
                    <a href="/Grades/all" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-bar-chart-line"></i>
                        </div>
                        <span>All Grades</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar/admin" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-line"></i>
                        </div>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="/messages" class="sidebar-item active flex items-center px-4 py-3 text-sm ">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-message-2-line"></i>
                        </div>
                        <span>Messages</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>