<!-- Sidebar -->
    <aside id="sidebar" class="sidebar fixed left-0 top-16 bottom-0 w-60 bg-white shadow-lg z-40 overflow-y-auto transition-all duration-300">
        <div class="py-4">
            <ul>
                <li>
                    <a href="/dashboard/teacher" class="sidebar-item  flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-dashboard-line"></i>
                        </div>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/teacher/attendance" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <span>My Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/attendance/mark" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <span>Mark Student Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/attendance/history" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100 ">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-check-line"></i>
                        </div>
                        <span>My Students Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/grades/entry" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-bar-chart-line"></i>
                        </div>
                        <span>Enter Exam marks</span>
                    </a>
                </li>
                <li>
                    <a href="/grades/mystudents" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-bar-chart-line"></i>
                        </div>
                        <span>Student Grades</span>
                    </a>
                </li>
                <li>
                    <a href="/analytics/students" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-book-2-line"></i>
                        </div>
                        <span>Analytics</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar/teacher" class="sidebar-item flex items-center px-4 py-3 text-sm text-gray-700 hover:bg-gray-100">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-calendar-line"></i>
                        </div>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="/messages" class="sidebar-item active flex items-center px-4 py-3 text-sm ">
                        <div class="w-5 h-5 flex items-center justify-center mr-3">
                            <i class="ri-message-2-line"></i>
                        </div>
                        <span>Messages</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
  